html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    background: lightskyblue;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 30vh;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

main {
    height: fit-content;
    padding: 5px;
    background: lightseagreen;
    text-align: center;
}

footer {
    height: 15vh;
    background: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer small {
    order: 1;
}

header img {
    height: 80px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: whitesmoke;
}

ul {
    font-size: 1.3rem;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

a, select, small, strong {
    font-size: 1.1rem;
}

li {
    width: 75%;
    height: 25%;
    background-color: bisque;
    margin: 20px;
    box-shadow: 5px 5px 5px purple;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
}

main nav:first-of-type a {
    display: flex;
    justify-content: center;
    margin: 5px;
}

main nav:last-of-type a {
    margin: 5px;
}