html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

body {
    background: lightskyblue;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 25vh;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

main {
    height: 60vh;
    background: lightseagreen;
    text-align: center;
    overflow: scroll;
}

footer {
    height: 15vh;
    background: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer small {
    order: 1;
}

header img {
    height: 80px;
}

h1 {
    font-size: 2rem;
}

a, button, small, strong {
    font-size: 1.1rem;
}

button, small, strong {
    font-size: 1.1rem;
}

header a {
    font-size: 1.1rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main nav {
    margin: 20px;
    font-size: 1.1rem;
}

h2  {
    margin: 10px 0 0;
}

h2 a {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

aside {
    text-align: center;
    width: 80%;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 15px;
}

aside p {
    font-size: 1rem;
}

h3 {
    font-size: 1.4rem;
}

article {
    text-align: left;
}

ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
    font-weight: bold;
}

li a {
    font-size: 1.2rem;
}