:host {
  display: none;
  font-size: medium;
  position: relative;
  color: white;
}

header, main, footer {
  display: none;
  z-index: 100;
  position: absolute;
  width: 100%;
}

header {
  text-align: center;
  opacity: 0.5;
}

main {
  text-align: center;
  margin-top: 5%;
}

footer {    
  float: left;
}

h1 {
  margin-top: 1.5%;
}

a {
  color: currentColor;
}

button {
  font-size: large;
  padding: 5px 40px;
  cursor: pointer;
}

@media (max-width: 480px) or (max-height: 480px) {
  :host {
      font-size: small;
  }

  h1 {
      margin-top: 0.5%;
      font-size: large;
  }

  main {
    margin-top: 2%;
  }

  tl-kiitos {
    --width: 50vw;
  }

  tl-robot {
    display: none;
  }
}

@media (max-height: 480px) {
  h1 {
    margin-top: 3%;
}
}

/*======*/

.cls-1{fill:none}
.cls-2{fill:#02728a}
.cls-3{fill:#37a5bd}
.cls-4{fill:#014756}
.cls-5{fill:#013b48}
.cls-6{fill:#025669}
.cls-8{fill:#003945}
.cls-9{fill:#fff}
.cls-11{fill:#064350}
.cls-12{fill:#bebec2}
.cls-13{fill:#dadadc}
.cls-14{fill:#aeaeb2}
.cls-15{fill:#f49665}
.cls-16{fill:#db7b3b}
.cls-17{fill:#9b5536}
.cls-19{fill:#752d23}
.cls-20{fill:#0ad3c6}
.cls-21{fill:#005b63}
.cls-22{fill:#005b64}
.cls-23{fill:#ffd676}
.cls-25{fill:#dc7b32}

#landscape {
  animation-name: movingtrain; 
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#regular-landscape {
  opacity: 1;
}

#clipped-landscape {
  transform: translateX(99.9%);
  opacity: 1;
}

@keyframes movingtrain {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}